{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Contestation by comparison with another file</h2>
<p>Currently, my file is predicted
    <strong>
    {% if file.y_pred %}
        >50K
    {% else %}
        <=50K
    {% endif%}</strong>. I think my file should have been predicted as:</p>
  <form method="post">
    {% csrf_token %}
    <div>
            {{ form.target_plaintiff|as_crispy_field }}
    </div>
Knowing that an other file I have knowledge about have been:
    <div>
            {{ form.output_relative|as_crispy_field }}
    </div>
and that (leave blank unwanted features):
<br><br>
    <div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
              <h3>Feature of your file</h3>
          </div>
          <div class="form-group col-md-6 mb-0">
            <h3>Compared to other's features</h3>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.age_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's age
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.workclass_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's workclass
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.education_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's education
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.education_num_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's education_num
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.marital_status_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's marital_status
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.occupation_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's occupation
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.relationship_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's relationship
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.race_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's race
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.sex_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's sex
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.capital_gain_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's capital_gain
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.capital_loss_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's capital_loss
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.hours_per_week_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's hours_per_week
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.native_country_operator|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                Other's native_country
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}
