{% extends 'base.html' %}

{% block content %}
<h5 id="headings">Type of contestation</h5>
<p>
    Our model, based on adult income data set, has predicted that your annual income is
    <strong>
        {% if file.y_pred %}
            >50K
        {% else %}
            =<50K
        {% endif %}
    </strong>
</p>
<p>
    Our tool allows you to challenge this decision. If you wish to process, the next step is to
    create a challenge to argue why you think that the decision was not the correct one.
    The decision is only based on the values of your file so does the challenge. Through our interface, you
    will be able to point out which features our your file should irrevocably lead to
    a different output of the decision system.
</p>
<p>
    Two types of challenges are allowed by our system:
</p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your values only</h5>
        <p class="card-text">
            Compare the values of your file directly to thresholds that you define. <br>
            e.g.: since my occupation is 'Exec-managerial' and since I work more than 40 hours per week,
            I think that the model should have predicted my income as >50k.
        </p>
        <button onclick="window.location.href = '{% url 'adult:get_contest_value' file_pk=file_pk %}';" class="btn btn-primary" type="button">Contest with your values</button>      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">Relatively to another file <br>
            <i class="fa fa-warning"></i> WORK IN PROGRESS</h5>
        <p class="card-text">
            Compare your file to another file for which you know the output. It is useful to express
            a feeling of inequity of treatment. <br>
            e.g.: My neighbor's income was classified has >50k. Since we have the same occupation
            and since my capital loss is lower than his, I think that my income should have been classified
            as >50k as well.
        </p>
        <button class="btn btn-secondary" type="button">Contest relatively to another file</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}