{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 id="headings">Contestation form </h5>
<p>Currently, your predicted income is
    <strong>
        {% if file.y_pred %}
            >50K
        {% else %}
            <=50K
        {% endif%}
    </strong>,
    and you think that it should have been classified as
    <strong>
        {% if file.y_pred %}
            <=50k
        {% else %}
            >50K
        {% endif%}
    </strong>.
</p>
<p>
    You are here to challenge the prediction made by our model. To do so
    please fill out the following form by specifying a set of conditions
    , which you satisfy, and that should irrevocably lead to a classification
    as
    <strong>
        {% if file.y_pred %}
            <=50k
        {% else %}
            >50K
        {% endif%}
    </strong> from your point of view.
</p>
<p>
    <strong>How to fill it?</strong><br>
    For each feature, you can specify an operator (IS, IS NOT, >, <, ...) and a value.
    You can also leave the fields blank. This will be the set of conditions.
    Here is an example of how your contestation could look like at the end: <br>
        <i>
            <dd>
                Knowing that my education IS 'HS-Grad',
                that my hours per week >= 38, and that my race is White <br>
                I think that the model should have predicted my income as <strong>>50k</strong>.
            </dd>
        </i>
</p>
<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">Your contestation</h5>
  </div>
  <div class="card-body">
    <form method="post">
        {% csrf_token %}

      <div id='form-errors'>{{ form_errors }}</div>
        <div>
            <div class="form-row">
              <div class="form-group col-md-8 mb-0">
                  <h6>Feature of your file</h6>
              </div>
              <div class="form-group col-md-4 mb-0">
                <h6>Compared to a value</h6>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.age_operator.label }} <br>({{  file.age  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.age_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.age_value|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.sex_operator.label }} <br>({{  file.sex  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.sex_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.sex_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.race_operator.label }} <br>({{  file.race  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.race_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.race_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.native_country_operator.label }} <br>({{  file.native_country  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.native_country_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.native_country_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.marital_status_operator.label }} <br>({{  file.marital_status  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.marital_status_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.marital_status_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.relationship_operator.label }} <br>({{  file.relationship  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.relationship_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.relationship_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.education_operator.label }} <br>({{  file.education  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.education_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.education_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.education_num_operator.label }} <br>({{  file.education_num  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.education_num_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.education_num_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.hours_per_week_operator.label }} <br>({{  file.hours_per_week  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.hours_per_week_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.hours_per_week_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.workclass_operator.label }} <br>({{  file.workclass  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.workclass_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.workclass_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.occupation_operator.label }} <br>({{  file.occupation  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.occupation_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.occupation_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.capital_gain_operator.label }} <br>({{  file.capital_gain  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.capital_gain_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.capital_gain_value|as_crispy_field }}
                </div>
                    </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-0">
                {{form.capital_loss_operator.label }} <br>({{  file.capital_loss  }})
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{form.capital_loss_operator|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                  {{form.capital_loss_value|as_crispy_field }}
                </div>
                    </div>
        </div>
        <button type="submit" class="btn btn-primary">Save and continue</button>
      </form>

  </div>
</div>

{% endblock %}
