<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h3 id="headings">Justification</h3>

<p>
  For the last step of our prototype, we tried to generate justifications
  of the model behavior based on your contest.
  The justification focus on showing that this specific decision
  is coherent with what is usually seen in the data given during
  the training of the model. The goal of this justification is not
  to prove that the decision what good but simply to show that if people
  in charge of taking these decision during the collection of the training
  set had seen your file, they probably would have given you the same output.
  We make no reference to internal characteristics of the model and only refer
  to the training data.
</p>
<p>
  We tried to generate 3 explanations that you can access by clicking the arrows
  on the left and right of the current explanation.
</p>

{% if ce_dict == None and proportion == None and extra_rules == None and extra_rules_neg == None %}

<p>Unfortunatly, no justification was found for your contestation.
  It seems like your to contestation is too precise and no sample
  in the training set satisfies all conditions. <p/>

{% endif %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">

<!--$$$$$$$$$$$$$$$$$$$$$$$ COUNTER EXAMPLE $$$$$$$$$$$$$$$$$$$$$$$    -->

    {% if ce_dict == None %}

    {% else %}
        <div class="carousel-item active">
          <div class="card" style="...">
            <div class="card-header">
              <h5 class="card-title">COUNTER EXAMPLE</h5>
            </div>
            <div class="card-body">
              <p>
                Your contestation is not strictly valid! Indeed, there exists at
                least an example in the data set that was used to train our model
                that contradicts it. This counter example is presented here, along
                with your file.
              </p>
              <p>
                From left to right, the columns contain: the name of the feature,
                the value of your own file, the value of the counter example from the
                training set that contradicts your contestation and finally, if
                applicable, the constraint that you imposed for your contestation.
              </p>

              <table class="table table-condensed" >
                <thead>
                  <tr>
                    <th scope="col">Variable</th>
                    <th scope="col">Your file's values</th>
                    <th scope="col">A counter example file</th>
                    <th scope="col">Constraints</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k, v in ce_dict.items %}
                    {% ifnotequal k '_state' %}
                    {% ifnotequal k 'id' %}
                    {% ifnotequal k 'contest_value_id' %}
                      {% if k in contest_feat_list %}
                        <tr class="table-info">
                      {% else %}
                        <tr>
                      {% endif %}
                      <th>{{k}}</th>
                      <th>{{v.1}}</th>
                      <th>{{v.0}}</th>
                      {% if k in contest_feat_list %}
                        <th> {{v.2}} </th>
                      {% else %}
                        <th> </th>
                      {% endif %}
                      </tr>
                    {% endifnotequal %}
                    {% endifnotequal %}
                    {% endifnotequal %}
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
      {% endif %}
<!--$$$$$$$$$$$$$$$$$$$$$$$ END COUNTER EXAMPLE $$$$$$$$$$$$$$$$$$$$$$$    -->

<!--&lt;!&ndash;$$$$$$$$$$$$$$$$$$$$$$$ VALID PROPORTION $$$$$$$$$$$$$$$$$$$$$$$    &ndash;&gt;-->
<!--      {% if proportion == None %}-->

<!--      {% else %}-->


<!--        <div class="carousel-item">-->
<!--          <div class="card" style="...">-->
<!--            <div class="card-header">-->
<!--              <h5 class="card-title">Proportion of contestation validity</h5>-->
<!--            </div>-->
<!--            <div class="card-body">-->


<!--        <h5 id="headings">Overall validity</h5>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        {% endif %}-->
<!--&lt;!&ndash;$$$$$$$$$$$$$$$$$$$$$$$ END VALID PROPORTION $$$$$$$$$$$$$$$$$$$$$$$    &ndash;&gt;-->

<!--$$$$$$$$$$$$$$$$$$$$$$$ RULE BASED MODEL  $$$$$$$$$$$$$$$$$$$$$$$    -->
    {% if extra_rules == None %}
    {% else %}
    <div class="carousel-item">
      <div class="card" style="...">
        <div class="card-header">
          <h5 class="card-title">Refinement of your constraints</h5>
        </div>
        <div class="card-body">
          <p>
            Generally, over the set of all training examples, your
            contestation is valid on {{ proportion }} % of the time.
          </p>
          <p>
            The contestation that you defined contained {{ original_rules|length }}
            constraints. The goal of this contestation is to show you that
            it is possible to refine your contestation (by adding more
            constraints) such that the proportion of example that obtain the
            output that you expect is even lower.
          </p>
          <p>
            Indeed, by adding {{ extra_rules|length }} to your contestation,
            we found a group of {{ size }} training examples in which
            {{ precision }} % also have the same output as you. You can easily
            verify that you also belong to this group.
          </p>
          <table class="table table-borderless table-condensed table-white">
            <tr>
              <td>IF</td>
              <td style="min-width:50px"></td>
              <td style="min-width:50px"></td>
              <td style="min-width:120px"></td>
              <td style="min-width:50px"></td>
            </tr>
            {% for v in original_rules %}
                <tr>
                  <td></td>
                  {% if v.0 > 0 %}
                      <td>AND</td>
                  {% else %}
                      <td></td>
                  {% endif %}
                  <td style='color: black'>{{ v.1 }} ({{ v.4 }})</td>
                  <td>{{ v.2 }}</td>
                  <td style='color: black'>{{ v.3 }}</td>
                </tr>
            {% endfor %}
            {% for v in extra_rules %}
                <tr>
                  <td></td>
                    <td>AND</td>
                  <td style='color: #1e347b'>{{ v.left }} ({{ v.value }})</td>
                  <td>{{ v.operator }}</td>
                  <td style='color: #1e347b'>{{ v.right }}</td>
                </tr>
            {% endfor %}
            <tr>
              <td>THEN</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
              <td></td>
                <td></td>
                <td style='color: #1e347b'>Output</td>
                <td> IS </td>
                <td style='color: #1e347b'>{{target_output_neg}}</td>
          </table>
          <br>
              <p>with a precision of {{ precision }} over {{ size}} training examples. </p>

        </div>
      </div>
    </div>
    {% endif %}
<!--$$$$$$$$$$$$$$$$$$$$$$$ END RULE BASED MODEL  $$$$$$$$$$$$$$$$$$$$$$$    -->

<!--$$$$$$$$$$$$$$$$$$$$$$$ RULE BASED MODEL NEGATIVE $$$$$$$$$$$$$$$$$$$$$$$    -->
      {% if extra_rules_neg == None %}

      {% else %}
        <div class="carousel-item">
          <div class="card" style="...">
            <div class="card-header">
              <h5 class="card-title">Contradiction of your constraints</h5>
            </div>
            <div class="card-body">
         <p>
            Generally, over the set of all training examples, your
            contestation is valid on {{ proportion }} % of the time.
          </p>
          <p>
            The contestation that you defined contained {{ original_rules|length }}
            constraints. The goal of this contestation is to show you that
            it is possible to refine your contestation (by adding more
            constraints) such that the proportion of example that obtain the
            output that you expect is HIGHER.
          </p>
          <p>
            Indeed, by adding {{ extra_rules|length }} to your contestation,
            we found a group of {{ size_neg }} training examples in which
            {{ precision_neg }} % also have the output that would like to have.
            You can easily verify that don't belong to this group.
          </p>
          <table class="table table-borderless table-condensed table-white">
                <tr>
                  <td>IF</td>
                  <td style="min-width:50px"></td>
                  <td style="min-width:50px"></td>
                  <td style="min-width:100px"></td>
                  <td style="min-width:50px"></td>
                </tr>
                {% for v in original_rules %}
                    <tr>
                      <td></td>
                      {% if v.0 > 0 %}
                          <td>AND</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                      <td style='color: black'>{{ v.1 }} ({{ v.4 }})</td>
                      <td>{{ v.2 }}</td>
                      <td style='color: black'>{{ v.3 }}</td>
                    </tr>
                {% endfor %}
                {% for v in extra_rules_neg %}
                    <tr>
                      <td></td>
                        <td>AND</td>
                      <td style='color: #1e347b'>{{ v.left }} ({{ v.value }})</td>
                      <td>{{ v.operator }}</td>
                      <td style='color: #1e347b'>{{ v.right }}</td>
                    </tr>
                {% endfor %}
                <tr>
                  <td>THEN</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                  <td></td>
                    <td></td>
                    <td style='color: #1e347b'>Output</td>
                    <td> IS </td>
                    <td style='color: #1e347b'>{{target_output}}</td>


              </table>
              <p>with a precision of {{ precision_neg }} over {{ size_neg }} training examples. </p>

            </div>
          </div>
        </div>
    {% endif %}

<!--$$$$$$$$$$$$$$$$$$$$$$$ RULE BASED MODEL NEGATIVE $$$$$$$$$$$$$$$$$$$$$$$    -->

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% endblock %}
