{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h5 id="headings">Enter your file</h5>
<p>
   The first step is to choose the values that you want for your file. We pre-filled the file
   with values such that the resulting prediction of the model is negative. In our case, it means that
   the model predicts {{ bad_target }}.
</p>

<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">Your file values</h5>
  </div>
  <div class="card-body">
      {% csrf_token %}
      {% crispy form %}
  </div>
</div>

{% endblock %}
