{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h5 id="headings">Contestation form (step 2): compare your file and the reference</h5>
<p>Currently, your credit application file was classified was
    <strong>
        {% if plaintiff_file.y_pred %}
            good
        {% elif not plaintiff_file.y_pred  %}
            bad
        {% else %}
            ERROR
        {% endif%}
    </strong>,
    and you think that it should have been classified as
    <strong>
        {% if relative_file.y_pred %}
            good
        {% elif not relative_file.y_pred  %}
            bad
        {% else %}
            ERROR
        {% endif%}
    </strong>.
</p>
<p>
    You wish to contest this decision because you think that your
    file was treated unfairly w.r.t to the reference file that was classified as
    <strong>
        {% if relative_file.y_pred %}
            good
        {% elif not relative_file.y_pred  %}
            bad
        {% else %}
            ERROR
        {% endif%}
    </strong> (your desired classification).<br>
    In the following form please specify more precisely which differences
    or similarities between your file and the reference file made you think
    that your file were treated unfairly.
</p>
<p>
    <strong>How to fill it?</strong><br>
    For each feature, you can specify an operator (IS, IS NOT, >, <, ...).
    You can also leave it blank.
    Each operator will define a condition that refers to the reference file.
    Let's see an example: <br>
        <i>
            <dd>
                Knowing that the reference file was classified as
                <strong>good</strong> and that we have the same saving status
                (your saving status IS the reference saving status) and that my
                credit amount is lower than his (your credit amount <= the
                reference credit amount), I think that my file should have
                been classified as <strong>good</strong>.
            </dd>
        </i>
</p>

<br>
  <div class="card" style="...">
      <div class="card-header">
        <h5 class="card-title">Your contestation</h5>
      </div>
  <div class="card-body">
    <form method="post">
        {% csrf_token %}

        <div id='form-errors'>{{ form_errors }}</div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            <h6>Feature of your file</h6>
          </div>
          <div class="form-group col-md-6 mb-0">
            <h6>Compared to reference's features</h6>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_amount_operator.label }} <br> ({{ plaintiff_file.credit_amount }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_amount_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's duration <br> ({{ relative_file.credit_amount}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.duration_operator.label }} <br> ({{ plaintiff_file.duration }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.duration_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's duration <br> ({{ relative_file.duration}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.purpose_operator.label }} <br> ({{ plaintiff_file.purpose }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's purpose <br> ({{ relative_file.purpose}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.existing_credits_operator.label }} <br> ({{ plaintiff_file.existing_credits }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.existing_credits_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's existing credits <br> ({{ relative_file.existing_credits}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_history_operator.label }} <br> ({{ plaintiff_file.credit_history }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_history_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's credit history <br> ({{ relative_file.credit_history}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_payment_plans_operator.label }} <br> ({{ plaintiff_file.other_payment_plans }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_payment_plans_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's other payment plans <br> ({{ relative_file.other_payment_plans}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.property_magnitude_operator.label }} <br> ({{ plaintiff_file.property_magnitude }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.property_magnitude_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's property magnitude <br> ({{ relative_file.property_magnitude}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.housing_operator.label }} <br> ({{ plaintiff_file.housing }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.housing_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's housing <br> ({{ relative_file.housing}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.checking_status_operator.label }} <br> ({{ plaintiff_file.checking_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.checking_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's checking status <br> ({{ relative_file.checking_status}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.savings_status_operator.label }} <br> ({{ plaintiff_file.savings_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.savings_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's savings status <br> ({{ relative_file.savings_status}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.employment_operator.label }} <br> ({{ plaintiff_file.employment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.employment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's employment <br> ({{ relative_file.employment}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.job_operator.label }} <br> ({{ plaintiff_file.job }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.job_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's job <br> ({{ relative_file.job}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.age_operator.label }} <br> ({{ plaintiff_file.age }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.age_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's age <br> ({{ relative_file.age}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.num_dependents_operator.label }} <br> ({{ plaintiff_file.num_dependents }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.num_dependents_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's num dependents <br> ({{ relative_file.num_dependents}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.installment_commitment_operator.label }} <br> ({{ plaintiff_file.installment_commitment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.installment_commitment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's installment commitment <br> ({{ relative_file.installment_commitment}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.own_telephone_operator.label }} <br> ({{ plaintiff_file.own_telephone }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.own_telephone_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's own telephone <br> ({{ relative_file.own_telephone}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.personal_status_operator.label }} <br> ({{ plaintiff_file.personal_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.personal_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's personal status <br> ({{ relative_file.personal_status}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.foreign_worker_operator.label }} <br> ({{ plaintiff_file.foreign_worker }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.foreign_worker_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's foreign worker <br> ({{ relative_file.foreign_worker}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_parties_operator.label }} <br> ({{ plaintiff_file.other_parties }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_parties_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's other parties <br> ({{ relative_file.other_parties}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.residence_since_operator.label }} <br> ({{ plaintiff_file.residence_since }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.residence_since_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's residence since <br> ({{ relative_file.residence_since}})
          </div>
        </div>

    <button type="submit" class="btn btn-primary">Save and continue</button>
    </form>


  </div>


{% endblock %}
