{% extends 'base.html' %}

{% block content %}
<h5 id="headings">Contestation</h5>
<p>
    Our model machine learning model, based on the data of the german credit dataset, has predicted that your
    file indicates that you are a
    <strong>
        {% if file.y_pred %}
            good
        {% else %}
            bad
        {% endif %}
    </strong>
    applicant.
</p>
<p>
    Our tool allows you to challenge this decision. If you wish to process, the next step is to
    create a challenge to argue why you think that the decision was not the correct one.
    The decision is only based on the values of your file so does the challenge. Through our interface, you
    will be able to point out which features our your file should irrevocably lead to
    a different output of the decision system.
</p>
<p>
    Two types of challenges are allowed by our system:
</p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your values only</h5>
        <p class="card-text">
            Compare the values of your file directly to thresholds that you define. <br>
            e.g.: since the credit amount is lower than 10000 and since my saving status is higher than 1000,
            I think that my file should have been classified as good.
        </p>
        <button onclick="window.location.href = '{% url 'german:get_contest_value' file_pk=file_pk %}';" class="btn btn-primary" type="button">Contest with your values</button>      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Relatively to another file</h5>
        <p class="card-text">
            Compare your file to another file for which you know the output. It is useful to express
            a feeling of inequity of treatment. <br>
            e.g.: My neighbor has been classified has a good applicant. Since the purposes of our credit are the same
            and since my duration is higher than his, I think that I should have been classified as good as well.
        </p>
        <button onclick="window.location.href = '{% url 'german:get_contest_relative' plaintiff_file_pk=file_pk %}';" class="btn btn-primary" type="button">Contest relatively to another file</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}