{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h5 id="headings">Contestation form </h5>
<p>Currently, your credit application file was classified was
    <strong>
        {% if file.y_pred %}
            good
        {% else %}
            bad
        {% endif%}
    </strong>,
    and you think that it should have been classified as
    <strong>
        {% if file.y_pred %}
            bad
        {% else %}
            good
        {% endif%}
    </strong>.
</p>
<p>
    You are here to challenge the prediction made by our model. To do so
    please fill out the following form by specifying a set of conditions
    , which you satisfy, and that should irrevocably lead to a classification
    as
    <strong>
        {% if file.y_pred %}
            bad
        {% else %}
            good
        {% endif%}
    </strong> from your point of view.
</p>
<p>
    <strong>How to fill it?</strong><br>
    For each feature, you can specify an operator (IS, IS NOT, >, <, ...) and a value.
    You can also leave the fields blank. This will be the set of conditions.
    Here is an example of how your contestation could look like at the end: <br>
        <i>
            <dd>
                Knowing that my credit amount <= 10000  and that my saving status
                IS '<100', I think that my file should have been
                classified as <strong>good</strong>.
            </dd>
        </i>
</p>

<br>
<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">Your contestation</h5>
  </div>
  <div class="card-body">
    <form method="post">
        {% csrf_token %}

      <div id='form-errors'>{{ form_errors }}</div>
    <div>
        <div class="form-row">
    {% csrf_token %}
          <div class="form-group col-md-5 mb-0">
            <h6>Feature of your file</h6>
          </div>
          <div class="form-group col-md-5 mb-0" align="right">
            <h6>Compared to a value</h6>
          </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-3 mb-0">
            {{ form.credit_amount_operator.label }} <br> ({{ file.credit_amount }})
          </div>
                <div class="form-group col-md-4 mb-0">
            {{ form.credit_amount_operator|as_crispy_field }}
          </div>
                <div class="form-group col-md-5 mb-0">
            {{ form.credit_amount_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.duration_operator.label }} <br> ({{ file.duration }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.duration_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.duration_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.purpose_operator.label }} <br> ({{ file.purpose }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.purpose_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.existing_credits_operator.label }} <br> ({{ file.existing_credits }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.existing_credits_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.existing_credits_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_history_operator.label }} <br> ({{ file.credit_history }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_history_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.credit_history_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_payment_plans_operator.label }} <br> ({{ file.other_payment_plans }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_payment_plans_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.other_payment_plans_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.property_magnitude_operator.label }} <br> ({{ file.property_magnitude }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.property_magnitude_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.property_magnitude_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.housing_operator.label }} <br> ({{ file.housing }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.housing_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.housing_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.checking_status_operator.label }} <br> ({{ file.checking_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.checking_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.checking_status_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.savings_status_operator.label }} <br> ({{ file.savings_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.savings_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.savings_status_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.employment_operator.label }} <br> ({{ file.employment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.employment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.employment_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.job_operator.label }} <br> ({{ file.job }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.job_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.job_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.age_operator.label }} <br> ({{ file.age }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.age_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.age_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.num_dependents_operator.label }} <br> ({{ file.num_dependents }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.num_dependents_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.num_dependents_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.installment_commitment_operator.label }} <br> ({{ file.installment_commitment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.installment_commitment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.installment_commitment_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.own_telephone_operator.label }} <br> ({{ file.own_telephone }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.own_telephone_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.own_telephone_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.personal_status_operator.label }} <br> ({{ file.personal_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.personal_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.personal_status_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.foreign_worker_operator.label }} <br> ({{ file.foreign_worker }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.foreign_worker_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.foreign_worker_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_parties_operator.label }} <br> ({{ file.other_parties }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_parties_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.other_parties_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.residence_since_operator.label }} <br> ({{ file.residence_since }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.residence_since_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.residence_since_value|as_crispy_field }}
          </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save and continue</button>
  </form>

  </div>
</div>

{% endblock %}
