{% extends 'base.html' %}

{% block title %} MLA -  Home {% endblock %}

{% block content %}
<h5 id="headings">Bienvenue sur notre outil d’expérimentation en ligne ! </h5>

<p align="justify">
    Cette étude utilisateur est menée dans le cadre de recherches sur l’explicabilité des algorithmes.
    Certains algorithmes sont déjà utilisés pour prendre des décisions qui affectent notre vie quotidienne.
    La recommandation en ligne, l’aide à la décision pour les juges ou pour les demandes de crédits en sont des exemples.
    Puisque nos sociétés sont de plus en plus digitalisées et les algorithmes de plus en plus performants,
    les décisions automatiques vont occuper une part croissante dans les organisations publiques et les entreprises.
</p>
<p align="justify">
    Pour que l’automatisation de ces décisions restent bénéfique à la société, il est important que l’humain garde
    un certain contrôle sur la machine. Il est indispensable par exemple que les utilisateurs soient informés que
    la décision a été prise automatiquement et qu’ils puissent en comprendre les grandes lignes. Aussi, dans le cas
    où la décision affecte directement un individu, il faudrait que ce dernier puisse contester la décision.
    Si cette contestation est valide, elle devrait conduire à une annulation de la décision, dans le cas contraire
    des informations devraient être apportées pour justifier la décision controversée.
</p>
<p align="justify">
    Dans le cadre de nos recherches, nous avons développé un outil (qui en est encore à une phase expérimentale)
    pour contester et justifier les décisions prises par un algorithme basé sur l’apprentissage.
    À la différence des algorithmes classiques qui se contentent d'executer les instructions codées par leur concepteur,
    ces algorithmes apprennent à remplir un objectif précis à partir d'un grand nombre d'exemples.
    On dit donc qu’une décision est justifiée si elle reflètent effectivement ce qui s’observe dans ces exemples.
</p>
<p align="justify">
    Le but de cet expérience et de tester différentes méthodes pour contester / justifier des décisions automatiques.
    Il se présente sous la forme de petits exercices avec une réponse à choix multiple.
    Vous avez aussi la possibilité de laisser des commentaires libres, n’hésitez pas à donner votre avis sur
    les exercices, sur les difficultés que vous rencontrez ou sur les questionnements qui vous viennent.
    Le tout prend environ 30 minutes.
</p>
<br>
<br>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'presentation' %}" role="button">Continuer</a>
<br>
<br>
<p>
    <b> Qui sommes-nous ?</b> <br>
    Clément Henin et Daniel Le Métayer sont membres de l’équipe PRIVATICS de l’Institut National de Recherche en
    Informatique et Automatique (Inria). Notre projet de recherche s'appelle ML-Advocate
    (pour <i>machine learning advocate</i>, l'avocat de l'apprentissage automatique).
</p>

{% endblock %}


