{% load crispy_forms_tags %}

<div class="modal fade" id="mlarel_{{idx}}" tabindex="-1" role="dialog" aria-labelledby="mlavLabel" aria-hidden="true" style="margin-top: 70px; display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"  style=" margin-bottom:100px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formuler votre contestation</h5>
      </div>
      <div class="modal-body">
          <p>
            Cet outil vous permet d'exprimer pourquoi selon vous ce dossier devrait être classé différement.
            Il fonctionne par comparaison avec un dossier de référence typique.
            Cette interface vous permet de vous appuyer sur les similarités ou les différences entre le dossier et le
            dossier de référence qui vont dans le sens de votre argumentaire.
          </p>
          <p>
            Ex : Le dossier de référence est classé faible risque, celui du plaignant haut risque.
            Pourtant, le plaignant et la référence ont le même niveau d'étude (education est education) et le
            plaignant demande un montant moins élevé (credit_amount plaignant < credit_amount référence).
          </p>
          <p>
              Vous pouvez formuler autant de désaccords que vous le souhaitez avant de donner votre réponse finale.
          </p>
          <div class="card mb-3" style="max-width: 36rem;">
            <div class="card-body">
              <h5 class="card-title"> Cas de référence </h5>
              {% autoescape off %}
                  <p class="card-text">{{ ref_case_text }}</p>
              {% endautoescape %}
            </div>
          </div>

    <form method="post">
        {% csrf_token %}
        <div id='form-errors'>{{ form_errors }}</div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            <h6>Dossier du plaignant</h6>
          </div>
          <div class="form-group col-md-6 mb-0">
            <h6>Dossier de référence</h6>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_amount_operator.label }} <br> ({{ plaintiff_file.credit_amount }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_amount_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's duration <br> ({{ relative_file.credit_amount}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.duration_operator.label }} <br> ({{ plaintiff_file.duration }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.duration_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's duration <br> ({{ relative_file.duration}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.purpose_operator.label }} <br> ({{ plaintiff_file.purpose }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's purpose <br> ({{ relative_file.purpose}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_history_operator.label }} <br> ({{ plaintiff_file.credit_history }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_history_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's credit history <br> ({{ relative_file.credit_history}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.property_magnitude_operator.label }} <br> ({{ plaintiff_file.property_magnitude }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.property_magnitude_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's property magnitude <br> ({{ relative_file.property_magnitude}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.housing_operator.label }} <br> ({{ plaintiff_file.housing }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.housing_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's housing <br> ({{ relative_file.housing}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.employment_operator.label }} <br> ({{ plaintiff_file.employment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.employment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's employment <br> ({{ relative_file.employment}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.job_operator.label }} <br> ({{ plaintiff_file.job }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.job_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's job <br> ({{ relative_file.job}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.age_operator.label }} <br> ({{ plaintiff_file.age }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.age_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's age <br> ({{ relative_file.age}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.personal_status_operator.label }} <br> ({{ plaintiff_file.personal_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.personal_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's personal status <br> ({{ relative_file.personal_status}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.foreign_worker_operator.label }} <br> ({{ plaintiff_file.foreign_worker }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.foreign_worker_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's foreign worker <br> ({{ relative_file.foreign_worker}})
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_parties_operator.label }} <br> ({{ plaintiff_file.other_parties }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_parties_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            Other's other parties <br> ({{ relative_file.other_parties}})
          </div>
        </div>

        <button type="submit" class="btn btn-primary" name="help_{{idx}}">Continuer</button>
    </form>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% if form.errors %}
<script type="text/javascript">
      $(window).on('load',function(){
          $('#mlarel_{{idx}}').modal('show');
      });
  </script>
{% endif %}
