{% load crispy_forms_tags %}


<div class="modal fade" id="mlav_{{idx}}" tabindex="-1" role="dialog" aria-labelledby="mlavLabel" aria-hidden="true" style="margin-top: 70px; display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"  style=" margin-bottom:100px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formuler votre désaccord</h5>
      </div>
      <div class="modal-body">
          <p>
              Cet outil vous permet d'exprimer pourquoi selon vous ce dossier devrait être classé différement.
              En designant les valeurs qui vont dans le sens de votre argument, vous formuler votre désaccord
              avec le modèle. Pour argumenter qu'un dossier devrait être classé comme faible risque, vous
              pouvez vous appuyer sur les variables du dossier qui sont généralement associées à ce niveau de risque.
          </p>
          <p>
              Ex : sachant que ce dossier a <b>job = skilled</b> et <b>credit_amount < 1500</b>,
              il devrait être classé comme faible risque.
          </p>
          <p>
              Vous pouvez formuler autant de désaccords que vous le souhaitez avant de donner votre réponse finale.
          </p>
      <form method="post">
        {% csrf_token %}
      <div id='form-errors'>{{ form_errors }}</div>
    <div>
        <div class="form-row">
    {% csrf_token %}
          <div class="form-group col-md-5 mb-0">
            <h6>Élément du dossier</h6>
          </div>
          <div class="form-group col-md-5 mb-0" align="right">
            <h6>Comparé à une valeur</h6>
          </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-3 mb-0">
            {{ form.credit_amount_operator.label }} <br> ({{ file.credit_amount }})
          </div>
                <div class="form-group col-md-4 mb-0">
            {{ form.credit_amount_operator|as_crispy_field }}
          </div>
                <div class="form-group col-md-5 mb-0">
            {{ form.credit_amount_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.duration_operator.label }} <br> ({{ file.duration }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.duration_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.duration_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.purpose_operator.label }} <br> ({{ file.purpose }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.purpose_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.purpose_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.credit_history_operator.label }} <br> ({{ file.credit_history }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.credit_history_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.credit_history_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.property_magnitude_operator.label }} <br> ({{ file.property_magnitude }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.property_magnitude_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.property_magnitude_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.housing_operator.label }} <br> ({{ file.housing }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.housing_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.housing_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.employment_operator.label }} <br> ({{ file.employment }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.employment_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.employment_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.job_operator.label }} <br> ({{ file.job }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.job_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.job_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.age_operator.label }} <br> ({{ file.age }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.age_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.age_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.personal_status_operator.label }} <br> ({{ file.personal_status }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.personal_status_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.personal_status_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.foreign_worker_operator.label }} <br> ({{ file.foreign_worker }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.foreign_worker_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.foreign_worker_value|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3 mb-0">
            {{ form.other_parties_operator.label }} <br> ({{ file.other_parties }})
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.other_parties_operator|as_crispy_field }}
          </div>
          <div class="form-group col-md-5 mb-0">
            {{ form.other_parties_value|as_crispy_field }}
          </div>
        </div>
    </div>
        <button type="submit" class="btn btn-primary" name="help_{{idx}}">Continuer</button>
  </form>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% if form.errors %}
<script type="text/javascript">
      $(window).on('load',function(){
          $('#mlav_{{idx}}').modal('show');
      });
  </script>
{% endif %}
