{% extends 'base.html' %}

{% block title %} MLA -  Home {% endblock %}

{% block content %}
<h5 id="headings">Présentation de la décision </h5>

<p align="justify">
    Un algorithme est utilisé pour classer des demandes de crédits en deux types de profils : haut risque et faible risque.
    Les demandes classées à haut risque sont refusées, celles à faible risque sont acceptées.
    Les décisions sont prises à partir d’un jeu de données de 1 000 demandes classées par des employés de la banque qui
    font référence. Les dossiers de demandes contiennent des informations personnelles sur les demandeurs et des
    informations sur la demande en elle même. Elles vous sont présentées sous forme de texte comme suit.
</p>

<div class="card mb-3" style="max-width: 36rem;">
  <div class="card-body">
    <h5 class="card-title"> Cas 1</h5>
    <p class="card-text">
        Le demandeur de crédit est un <b>'male single'</b> de <b>49</b> ans, employé comme <b>skilled</b> depuis <b>'4<=X<7'</b> années. <br>
        Il fait une demande pour un crédit de <b>8386</b> Mark sur une durée de <b>30</b> mois pour financer <b>furniture/equipment</b>. <br>
        Son historique de crédit indique <b>'critical/other existing credit'</b>, ses propriétés s'élèvent à <b>'life insurance'</b>.
        Il est logé <b>own</b> et un <b>none</b> est tierce partie de l'emprunt.
        Statut de travailleur étranger : <b>yes</b><br>
        Cette demande est classée à <b>haut</b> risque par le modèle.
    </p>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky">Exemple </th>
    <th class="tg-0pky">Description</th>
  </tr>
  <tr>
    <td class="tg-0pky">personal_status</td>
    <td class="tg-0pky">'male single'</td>
    <td class="tg-0pky">Statut personnel du demandeur dans l'une des catégories suivantes (classées niveau de risque décroissant) :  <br>- 'female div/dep/mar'<br>- 'male single'<br>- 'male div/sep'<br>- 'male mar/wid'</td>
  </tr>
  <tr>
    <td class="tg-0pky">age</td>
    <td class="tg-0pky">49</td>
    <td class="tg-0pky">Âge du demandeur en années. Les personnes plus âgées sont moins à risque. </td>
  </tr>
  <tr>
    <td class="tg-0pky">job</td>
    <td class="tg-0pky">skilled</td>
    <td class="tg-0pky">Niveau d'emploi dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'high qualif/self emp/mgmt'<br>- 'unemp/unskilled non res'<br>- 'skilled'<br>- 'unskilled resident'<br></td>
  </tr>
  <tr>
    <td class="tg-0pky">employment</td>
    <td class="tg-0pky">'4&lt;=X&lt;7'</td>
    <td class="tg-0pky">Nombre d'années dans l'emploi dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- unemployed<br>- '4&lt;=X&lt;7'<br>- '&lt;1'<br>- '1&lt;=X&lt;4'- '&gt;=7'</td>
  </tr>
  <tr>
    <td class="tg-0pky">credit_amount</td>
    <td class="tg-0pky">8386</td>
    <td class="tg-0pky">Montant du crédit demandé en Mark. Les crédits de plus faible montant sont moins risqués</td>
  </tr>
  <tr>
    <td class="tg-0pky">duration</td>
    <td class="tg-0pky">30</td>
    <td class="tg-0pky">Durée du crédit en mois. Les crédits plus court sont moins risqués </td>
  </tr>
  <tr>
    <td class="tg-0pky">purpose</td>
    <td class="tg-0pky">'furniture/equipment'</td>
    <td class="tg-0pky">Finalité du crédit dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'other'<br>- 'retraining'<br>- 'used car'<br>- 'business'<br>- 'new car'<br>- 'domestic appliance'<br>- 'education'<br>- 'furniture/equipment'<br>- 'radio/tv'<br>- 'repairs'</td>
  </tr>
  <tr>
    <td class="tg-0pky">credit_history</td>
    <td class="tg-0pky">critical/other existing credit</td>
    <td class="tg-0pky">Historique de crédits dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'no credits/all paid'<br>- 'all paid'<br>- 'delayed previously'<br>- 'critical/other existing credit'<br>- 'existing paid'<br></td>
  </tr>
  <tr>
    <td class="tg-0pky">property_magnitude</td>
    <td class="tg-0pky">'life insurance'</td>
    <td class="tg-0pky">Autre propriétés dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'no known property'<br>- 'life insurance'<br>- car<br>- 'real estate'</td>
  </tr>
  <tr>
    <td class="tg-0pky">housing</td>
    <td class="tg-0pky">own</td>
    <td class="tg-0pky">Modalité de logement dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'for free'<br>- 'rent'<br>- 'own'</td>
  </tr>
  <tr>
    <td class="tg-0pky">other_parties</td>
    <td class="tg-0pky">none</td>
    <td class="tg-0pky">Tierce partie dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- 'none'<br>- 'co applicant'<br>- 'guarantor'</td>
  </tr>
  <tr>
    <td class="tg-0pky">foreign_worker</td>
    <td class="tg-0pky">yes</td>
    <td class="tg-0pky">Statut de travailleur étranger dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>- yes <br>- no </td>
  </tr>
</table>

<br>

<h5 id="headings">Présentation de l'exercice </h5>

<p align="justify">
    Dans chaque exercice vous seront proposés 3 dossiers tirés au hasard. Parmi ces 3 cas, nous avons délibérement
    modifié un niveau de risque afin que l'un des cas ne soit plus justifiable, qu'il ne corresponde plus aux données
    d'apprentissage. L'objectif de l'exercice est de trouver quel cas n'est pas justifiable parmi les 3.
</p>
<p align="justify">
    Pour vous aider, différentes aides sont disponibles. Elles sont spécifiques à chaque cas et vous pouvez les activer
    en cliquant sur le bouton "AIDE TYPE ". Dans certain cas, il est possible que vous n'ayez pas d'aide. C'est normal,
    il faudra se débrouiller sans.
</p>
<p align="justify">
    Une fois que vous avez pensé avoir trouvé le cas qui n'est pas justififié, vous pouvez le setectionner dans le cadre
    "Votre réponse". On vous demande aussi de mettre un niveau de confiance de votre réponse, ainsi qu'un commentaire,
    si vous le désirez. Certains cas sont difficiles à trouver et ce n'est pas grave si vous ne les trouvez pas tous !
</p>
<p align="justify">
    Vous pourrez à tout moment revenir à cette page et reprendre l'exercice ensuite si vous souhaitez consulter à nouveau
    la description des variables.
</p>

    <form method="post">
    {% csrf_token %}
        {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="start">Reprendre cas {{user.task_set.count}} / 10</button>
        {% else %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="start">Commencez</button>
        {% endif %}
    </form>

{% endblock %}
