{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h5 id="headings">Contestation form (step 1): enter the reference file </h5>
<p>Currently, your credit application file was classified as
    <strong>
        {% if file.y_pred %}
            good
        {% else %}
            bad
        {% endif%}
    </strong>,
    and you think that it should have been classified as
    <strong>
        {% if file.y_pred %}
            bad
        {% else %}
            good
        {% endif%}
    </strong>.
</p>
<p>
    You wish to contest this decision because you think that your
    file was treated unfairly w.r.t to another file you have some
    knowledge about.
</p>
<p>
    <strong>How to fill it?</strong><br>
    The first step is to enter the reference file with which you wish to be
    compared.
</p>

<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">The reference's features</h5>
  </div>
  <div class="card-body">
      {% csrf_token %}
      {% crispy form %}
  </div>
</div>

{% endblock %}
