{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<a class="btn btn-outline-info " href="{% url 'presentation' %}" role="button">Retour tableau (vous pourrez reprendre ici) </a>
<br><br>
<h5 id="headings"> Exercice {{ user.task_set.count }} / 10 </h5>
<p>
    L'un des trois dossiers ci-dessous est contestable. Pouvez-vous retrouver lequel ?
</p>

{% for iter in smpl_form_file %}
    <div id="case_{{ forloop.counter }}">
        <div class="row justify-content-between align-items-center">
            <div class="col-9">
                <div class="card mb-3" style="max-width: 36rem;">
                  <div class="card-body">
                    <h5 class="card-title"> Cas {{ forloop.counter }}</h5>
                    {% autoescape off %}
                        <p class="card-text">{{ iter.0 }}</p>
                    {% endautoescape %}
                  </div>
                </div>
            </div>
            <div class="col-3">
                {% if help_type == "MLA_VALUES" %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mlav_{{ forloop.counter }}">
                      AIDE TYPE 1
                    </button>
                {% elif help_type == "NONE" %}
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">PAS D'AIDE</button>
                {% elif help_type == "MLA_RELATIVE" %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mlarel_{{ forloop.counter }}">
                      AIDE TYPE 2
                    </button>
                {% elif help_type == "K_NEIGHBORS" %}
                    <form method="post">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block" name="help_{{ forloop.counter }}">AIDE TYPE 3</button>
                    </form>
                {% elif help_type == "COUNTERFACT" %}
                    <form method="post">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block" name="help_{{ forloop.counter }}">AIDE TYPE 4</button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% if iter.3 %}
        {% autoescape off %}
        <div class="row justify-content-between align-items-center">
          <div class="col-12">
           <div class="card mb-3" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title"> Aide cas {{ forloop.counter }} </h5>
                <p class="card-text">{{ iter.3 }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endautoescape %}
        {% endif %}
    </div>
    {% if help_type == "MLA_VALUES" %}
        {% with form=iter.1 file=iter.2 idx=forloop.counter %}
            {% include "modal_contest_values.html" %}
        {% endwith %}
    {% endif %}
    {% if help_type == "MLA_RELATIVE" %}
        {% with form=iter.1 plaintiff_file=iter.2 idx=forloop.counter %}
            {% if plaintiff_file.y_pred  %}
                {% with relative_file=typical_high ref_case_text=display_typical_high %}
                    {% include "modal_contest_relative.html" %}
                {% endwith %}
            {% else %}
                {% with relative_file=typical_low ref_case_text=display_typical_low %}
                    {% include "modal_contest_relative.html" %}
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% endif %}

{% endfor %}

<div class="card" style="...">
  <div class="card-header">
    <h5 class="card-title">Votre réponse</h5>
  </div>
  <div class="card-body">
    <form method="post">
    {% csrf_token %}
      <div id='form-errors'>{{ case_form_errors }}</div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ case_form.case|as_crispy_field }}
          </div>
        </div>

          <label class="statement">Niveau de confiance de votre réponse : </label>
          <ul class='likert'>
          <li>
            <input type="radio" name="likert" value="1">
            <label>1 (pas confiant)</label>
          </li>
          <li>
            <input type="radio" name="likert" value="2">
            <label>2</label>
          </li>
          <li>
            <input type="radio" name="likert" value="3" checked="checked">
            <label>3</label>
          </li>
          <li>
            <input type="radio" name="likert" value="4">
            <label>4</label>
          </li>
          <li>
            <input type="radio" name="likert" value="5">
            <label>5 (très confiant)</label>
          </li>
        </ul>

        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ case_form.comment|as_crispy_field }}
          </div>
        </div>


        <button type="submit" class="btn btn-primary" name="case_answer">Soumettre la réponse</button>
    </form>
  </div>

  </div>

{% if anchor %}
    <script type='text/javascript'>
    $(document).ready(function(){
        window.location = '#{{ anchor }}'
    });
    </script>
{% endif %}

{% endblock %}


