{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1 id="headings"> Merci ! </h1>

    <form method="post">
    {% csrf_token %}
      <div id='form-errors'>{{ case_form_errors }}</div>
      {% if user.email == "no@mail.com" %}
        <div class="form-row">
          <div class="form-group">
            {{ form.mail|as_crispy_field }}
            <small class="form-text text-muted">Votre email sera utilisé uniquement pour vous partager les résultats de l'étude, si vous le souhaitez. </small>

          </div>
        </div>
      {% endif %}

      {% if total_comment == 0 %}

        <div class="form-row">
          <div class="form-group">
            {{ form.comment|as_crispy_field }}
          </div>
        </div>
      {% endif %}

      {% if user.email == "no@mail.com" or total_comment == 0 %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
      {% endif %}
    </form>

{% endblock %}
