{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>{% block title %} ML-Advocate {% endblock %} </title>
  <!-- styles -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/moment.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <div class="header">
        <a class="logo" href="{% url 'welcome_page' %}">
            <h1 style="margin-left:70px;">ML-ADVOCATE</h1>
        </a>
    </div>

<!--  </section>-->
    <div class="container maincontainer" style="max-width: 800px; min-height: 500px;">

              {% block content %}{% endblock %}
    </div>
  <!-- Footer
 ================================================== -->
<div class="footer">
  <p>Clément Henin (clement.henin@inria.fr) -- Inria PRIVATICS</p>
  <p>Ce site utilise des cookies pour les besoins de son fonctionnement interne</p>
</div>

</body>

</html>
